body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    color: white; 
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  #delulu {
  }
  
  #delulucounter {
    font-size: 120px;
    text-align: center;
  }
  